<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DuoSign: Club BEJO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <h1>DuoSign: Club BEJO</h1>

        <div class="video-box">
            <img src="{{ url_for('detect') }}" alt="Live Stream" id="liveVideo">
        </div>

        <div class="text-box">
            <input type="text" placeholder="Hasil kalimat....." id="resultText" readonly>
        </div>

        <div class="bottom-row">
            <div class="status-box">
                <input type="text" placeholder="Label Prediksi..." id="resultLabel" readonly>
            </div>
            <form method="post" action="/start" id="startForm">
                <button type="submit" class="start-btn">Mulai</button>
            </form>

            <form method="post" action="/stop" id="stopForm" style="display: none;">
                <button type="submit" class="stop-btn">STOP</button>
            </form>
        </div>
    </div>
</body>

<script>
document.getElementById("startForm").addEventListener("submit", function(e) {
    e.preventDefault(); // Cegah reload halaman

    fetch("/start", { method: "POST" })
        .then(response => {
            if (response.ok) {
                document.getElementById("startForm").style.display = "none";
                document.getElementById("stopForm").style.display = "block";
            }
        });
});

document.getElementById("stopForm").addEventListener("submit", function(e) {
    e.preventDefault(); // Cegah reload halaman

    fetch("/stop", { method: "POST" })
        .then(response => {
            if (response.ok) {
                document.getElementById("stopForm").style.display = "none";
                document.getElementById("startForm").style.display = "block";
            }
        });
});
</script>


</html>
